@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 1440px;
  min-height: 100%;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.navigation-item,
.button {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  list-style: none;
}

.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #000000;
  background: #FFE17F;
  display: flex;
  width: 1040px;
  margin: 40px auto 0px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: -25px;
}

.main-header-logo:active {
  opacity: 30%;
}

.main-header-logo:hover {
  opacity: 50%;
}

.main-header-logo:focus {
  outline: 2px solid #AF4FFF;
}

.user-menu-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 30px 0px;
}

.search-form {
  display: flex;
  position: relative;
}

.search-input {
  min-width: 357px;
  background: transparent;
  border: solid #000000;
  border-width: 2px 0px 2px 2px;
  border-radius: 50px 0px 0px 50px;
  padding-left: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-input:focus {
  outline: 2px solid #AF4FFF;
}

.search-icon {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 16px;
}

.search-button {
  width: 158px;
  padding: 10px 56px;
  margin-right: 26px;
  background: transparent;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
}

.search-button:hover {
  background: #000000;
  color: #FFFFFF;
}

.search-button:focus {
  outline: 2px solid #AF4FFF;
}

.user-menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 497px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.user-menu-item {
  display: block;
  margin-right: 27px;
}

.user-menu-item:last-child {
  margin-right: 0;
}

.user-menu-item:first-child {
  margin-right: auto;
}

.user-profile {
  position: relative;
  padding-left: 27px;
}

.profile-icon {
  position: absolute;
  bottom: 5px;
  left: 0px;
}

.compare-button {
  position: relative;
  padding-left: 22px;
}

.compare-icon {
  position: absolute;
  bottom: 5px;
  left: 0px;
}

.cart-button {
  position: relative;
  padding-left: 25px;
}

.cart-icon {
  position: absolute;
  bottom: 3px;
  left: 0px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.navigation-item {
  margin-right: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.navigation-item:first-child {
  margin-right: auto;
}

.navigation-item:last-child {
  margin-right: 0;
}

.catalog-navigation {
  position: relative;
  padding-right: 57px;
}

.catalog-navigation::after {
  content: url("../images/header/plus-button.svg");
  position: absolute;
  width: 50px;
  height: 50px;
  top: -15px;
  right: 0px;
  border: none;
  background: transparent;
}

.popover-catalog {
  display: none;
  width: 1160px;
  background: #FFE17F;
  position: absolute;
  left: -60px;
  top: 55px;
  z-index: 2;
}

.catalog-navigation:hover::after {
  content: url("../images/header/minus-button.svg");
}

.catalog-navigation:hover+.popover-catalog {
  display: block;
}

.catalog-navigation:focus {
  outline: 2px solid #AF4FFF;
}

.popover-catalog-container {
  width: 675px;
  display: grid;
  grid-template-columns: 252px 211px 211px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  padding-top: 14px;
  padding-left: 60px;
  padding-bottom: 61px;
  align-content: start;
}

.popover-catalog-item-quadrocopter {
  grid-row: 1/2;
  grid-column: 3/4;
}

.popover-catalog-item {
  display: flex;
  list-style: none;
  margin-bottom: 20px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0em;
  text-transform: none;
}

.page-header a {
  color: #000000;
  text-decoration: none;
}

.user-menu-link:hover,
.navigation-link:hover {
  opacity: 0.6;
}

.user-menu-link:focus,
.navigation-link:focus {
  outline: 2px solid #AF4FFF;
}

.gallery {
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 70px;
  position: relative;
}

.gallery-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.gallery-slogan {
  margin: 0;
  margin-bottom: 29px;
}

.gallery-description {
  margin: 0;
  margin-bottom: 51px;
}

.gallery-item-container {
  display: flex;
  padding-top: 105px;
  background: linear-gradient(to bottom,
      #FFE17F 0px, #FFE17F 135px, white 135px);
}

.slider-image-container {
  width: 560px;
  margin-right: 40px;
  position: relative;
}

.slider-image {
  position: absolute;
  top: -120px;
}

.slider-buttons-container {
  display: flex;
  width: 530px;
  justify-content: space-between;
  position: absolute;
  top: 195px;
  left: 30px;
}

.slider-button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline: 2px solid #AF4FFF;
}

.slider-pagination {
  display: flex;
  width: 76px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 173px;
}

.slider-pagination-item {
  list-style: none;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border: 0;
  background: transparent;
  background-image: url("../images/pagination-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-pagination-button-current {
  background-image: url("../images/pagination-icon-current.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus {
  outline: 2px solid #AF4FFF;
}


.gallery-description-container {
  margin-right: auto;
  width: 560px;
  position: relative;
}

.gallery-description-container::after {
  content: url("../images/slider/first-slide.svg");
  position: absolute;
  top: -92px;
  right: 61px;
  z-index: -1;

}

.button {
  display: block;
  width: 220px;
  margin-bottom: 49px;
  padding: 10px 0px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.button::after {
  content: "";
  position: absolute;
  width: inherit;
  left: 0%;
  top: 40%;
  bottom: 40%;
  background: #FFE17F;
  z-index: -1;
}

.button:active {
  background: #FFC700;
}

.button:active::after {
  display: none;
}

.button:hover {
  background: #FFE17F;
}

.button:focus {
  outline: 2px solid #AF4FFF;
}

.gallery-specifications-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.gallery-specifications-description {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  padding-bottom: 38px;
}

.gallery-specifications-name {
  order: 1;
}

.gallery-specifications-item {
  margin: 0;
  margin-bottom: 12px;
}

.advantages-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  margin-bottom: 70px;
  align-items: flex-start;
}

.advantages-description-title {
  width: 452px;
  margin: 0;
  margin-bottom: 34px;
}

.advantages-description-text {
  margin: 0;
  width: 452px;
  padding-bottom: 21px;
}

.advantages-description-item {
  display: flex;
  flex-direction: column;
  width: 694px;
  margin: 72px 63px 124px 116px;
  background-repeat: no-repeat;
  background-position: right top;
}

.advantages-delivery {
  background-image: url("../images/delivery-icon.svg");
}

.advantages-garanty {
  background-image: url("../images/garanty-icon.svg");
}

.advantages-loan {
  background-image: url("../images/loan-icon.svg");
}

.advantages {
  background-color: #F0F0F0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  position: relative;
}

.advantages-list::after {
  content: "";
  position: absolute;
  width: 0px;
  top: -64px;
  bottom: -65px;
  right: -1px;
  border-left: 7px solid black;
}

.advantages-item {
  width: 280px;
}

.advantages-button {
  display: block;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 35px;
  border: none;
  position: relative;
  z-index: 1;
}

.advantages-button::after {
  content: "";
  position: absolute;
  width: inherit;
  left: 0%;
  top: 40%;
  bottom: 40%;
  background: #FFE17F;
  z-index: -1;
}

.advantages-button:hover {
  background: #FFE17F;
}

.advantages-button:active {
  background: #FFC700;
}

.advantages-button:focus {
  outline: 2px solid #AF4FFF;
}

.advantages-button:active .advantages-button::after {
  display: none;
}

.advantages-item-current {
  background: #000000;
}

.advantages-button-current {
  background: #000000;
  color: #FFC700;
}

.advantages-button-current::after {
  display: none;
}

.advantages-button-current:hover {
  background: #000000;
  opacity: 50%;
}

.advantages-button-current:active {
  background: #000000;
  opacity: 30%;
}

.index-columns {
  display: flex;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 1160px;
  justify-content: space-between;
  padding-top: 47px;
}

.about-us {
  width: 520px;
}

.contacts {
  width: 532px;
}

.about-us-title {
  margin: 0;
  margin-bottom: 48px;
}

.contacts-title {
  margin: 0;
  margin-bottom: 48px;
}

.contacts-subtitle {
  margin: 30px 0px 15px;
}

.contacts-schedule {
  padding: 0;
}

.index-columns p {
  margin: 0;
  margin-bottom: 30px;
}

.text-us-button {
  width: 259px;
}

.about-us-button {
  width: 270px;
}

.logistics-list {
  padding: 0px;
}

.logistics-item {
  margin-bottom: 19px;
  list-style: none;
  padding-left: 34px;
  position: relative;
}

.logistics-item:last-child {
  margin-bottom: 0px;
}

.logistics-item::after {
  position: absolute;
  content: "";
  background: #FFE17F;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 0px;
  top: 6px;
}

.products {
  margin: 0 auto;
  width: 1160px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0;
}

.icon-wrapper {
  display: flex;
  width: 160px;
  height: 160px;
  background: #FFE17F;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.icon-wrapper:hover {
  background: #FFC700;
}

.products-link {
  display: block;
}

.products-link:focus {
  outline: 2px solid #AF4FFF;
}

.icon-monopod {
  align-items: flex-end;
}

.products-section-name {
  width: 160px;
  padding: 0;
  margin: 0;
}

.user-menu-list,
.advantages-description-text,
.about-us-text,
.contacts-text,
.contacts-adress-text,
.contacts-phone,
.contacts-schedule-item,
.newsletter-text,
.newsletter-free {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  list-style: none;
}

.gallery-slogan,
.about-us-title,
.contacts-title,
.newsletter-title,
.advantages-description-item,
.inner-header-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.newsletter-title {
  background-color: #F0F0F0;
  margin: 0;
  width: 348px;
}

.newsletter-text {
  margin: 0;
  width: 560px;
}

.newsletter-input {
  background: transparent;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  margin: 0;
}

.subscribe-button {
  display: block;
  box-sizing: content-box;
  width: 253px;
  margin: 0;
  padding: 18px 5px;
  border: 3px solid #C4C4C4;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subscribe-button::after {
  display: none;
}

.subscribe-button:focus {
  outline: 2px solid #AF4FFF;
}

.newsletter-input:focus {
  outline: 2px solid #AF4FFF;
}

.newsletter-form {
  display: flex;
}

.gallery-description {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: white;
}

.gallery-specifications-name {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  background-color: white;
}

.gallery-specifications-value {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.products-item,
.advantages-item,
.advantages-description-list,
.contacts-schedule-item,
.footer-navigation-item,
.footer-socials-item,
.breadcrumbs-item,
.product-card,
.pagination-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-item a {
  color: #000000;
  text-decoration: none;
}

.rare-delivery-link {
  display: flex;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 1160px;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F0F0F0;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.rare-delivery-link:active {
  opacity: 30%;
}

.rare-delivery-link:focus {
  border: 2px solid #AF4FFF;
}

.rare-delivery-link::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 100px;
  top: 0px;
  left: 0px;
  background-color: #FFE17F;
  background-image: url("../images/truck-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.rare-delivery-link:hover::before {
  background-color: #FFC700;
}

.rare-delivery-link:hover::after {
  opacity: 100%;
}

.rare-delivery-link::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 30px;
  right: 42px;
  background-color: #DCDCDC;
  opacity: 50%;
  background-image: url("../images/information-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.logistics-item,
.catalog-filter-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.newsletter {
  background-color: #F0F0F0;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1160px;
}

.newsletter-main {
  display: flex;
  width: 1160px;
  margin-top: 64px;
  margin-bottom: 144px;
  justify-content: space-between;
}

.newsletter-form-wrapper {
  display: flex;
  padding-bottom: 56px;
}

.newsletter-free {
  margin-left: auto;
  padding-left: 32px;
  position: relative;
}

.newsletter-free::before {
  content: url("../images/tick-green.svg");
  position: absolute;
  left: 0px;
}

.newsletter-input {
  width: 557px;
}

.inner-header {
  box-sizing: border-box;
  margin: 35px auto;
  padding-left: 60px;
  width: 1160px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 16px;
}

.user-profile-active {
  width: 146px;
  padding-left: 27px;
  position: relative;
}

.main-inner-page {
  background-color: #F0F0F0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 36px;
}

.breadcrumbs-item,
.control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #FFFFFF;
}

.breadcrumbs-item a {
  text-decoration: none;
  color: #000000;
}

.catalog-filter-settings {
  width: 320px;
}

.catalog-filter-title,
.catalog-select-title {
  display: block;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  display: block;
  margin: 25px auto 60px 60px;
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  margin-bottom: 16px;
  background-color: #DCDCDC;
  border-radius: 2px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  opacity: 50%;
}

.range-toggle:active {
  background: #000000;
} 

.range-toggle:focus {
  outline: 2px solid #AF4FFF;
} 

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-price-filter {
  display: flex;
  width: 200px;
  padding: 0;
  margin: 0px 60px 18px;
  border: none;
}

.catalog-color-filter {
  display: flex;
  box-sizing: border-box;
  width: 200px;
  flex-direction: column;
  background: transparent;
  padding: 0;
  margin: 0px 60px 18px;
  border: none;
}

.catalog-bluetooth-filter {
  display: flex;
  box-sizing: border-box;
  width: 200px;
  flex-direction: column;
  background: transparent;
  padding: 0;
  margin: 0px 60px 18px;
  border: none;
}

.filter-button {
  border: none;
  margin-left: 60px;
}

.control {
  display: block;
  background: transparent;
  margin-bottom: 17px;
}

.catalog-select {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  background-color: #F0F0F0;
}

.select-control {
  width: 141px;
  height: 30px;
  border: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("../images/select-control-icon.svg") no-repeat scroll right center transparent;
}

.select-control:active {
  opacity: 30%;
}

.select-control:hover {
  opacity: 60%;
}

.select-control:focus {
  outline: 2px solid #AF4FFF;
}

.catalog-filter-item {
  letter-spacing: -0.02em;
  padding-top: 12px;
  margin-bottom: 20px;
}

.sort-buttons-container {
  display: flex;
}

.sort-button {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  opacity: 20%;
}

.sort-button:active {
  opacity: 100%;
}

.sort-button:hover {
  opacity: 50%;
}

.sort-button:focus {
  outline: 2px solid #AF4FFF;
  opacity: 100%;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  margin: 0;
  padding: 70px 40px 44px;
  background-color: #FFFFFF;
}

.product-card-image {
  display: block;
  margin-bottom: 32px;
}

.product-card {
  position: relative;
}

.card-details-button {
  display: none;
  position: absolute;
  top: 186px;
  left: 70px;
}

.product-card:active {
  opacity: 30%;
}

.product-card:hover .card-details-button {
  display: block;
}

.product-card:hover {
  opacity: 60%;
}

.product-card:active .card-details-button::after {
  display: block;
  background-color: #FFC700;
}

.product-card-link:focus {
  outline: 2px solid #AF4FFF;
}

.product-card-name {
  display: block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  padding: 0;
  max-width: 250px;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  margin-left: auto;
}

.product-card-description {
  display: flex;
  flex-grow: 1;
}

.product-card a {
  text-decoration: none;
}

.show-more-button {
  display: block;
  width: 760px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 18px 0px;
  margin: 0 auto 44px;
  border: 3px solid #E5E5E5;
}

.show-more-button:active {
  opacity: 30%;
  outline: 3px solid #000000;
}

.show-more-button:hover {
  outline: 3px solid #000000;
}

.show-more-button:focus {
  outline: 2px solid #AF4FFF;
}

.pagination {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 760px;
  height: 71px;
  background-color: #EBEBEB;
  margin: 0px 40px 78px;
}

.pagination-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 30%;
}

.pagination-item:active {
opacity: 10%;
}

.pagination-item:hover {
  opacity: 100%;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 10px 15px;
}

.pagination-link:focus {
  outline: 2px solid #AF4FFF;
  opacity: 100%;
}

.pagination-item a {
  text-decoration: none;
  color: #000000;
}

.pagination-control {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 25px;
  width: 128px;
}

.pagination-control:active {
opacity: 30%;
}

.pagination-control:hover {
  background: #DCDCDC;
}

.pagination-control:focus {
  outline: 2px solid #AF4FFF;
}

.catalog-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

.catalog-right-column {
  width: 840px;
  background-color: #FFFFFF;
}

.page-footer {
  color: #FFFFFF;
  background: #444444;
}

.page-footer-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  padding: 62px 140px;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-contacts {
  width: 239px;
  margin-bottom: auto;
  position: relative;
}

.footer-contacts::after {
  position: absolute;
  content: "";
  top: 175px;
  width: 80px;
  border-bottom: 7px solid #FFC700;
}

.footer-column-2 {
  width: 444px;
  margin-top: 75px;
}

.footer-socials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.footer-socials-item:last-child {
  margin-right: 0px;
}

.footer-socials-item:focus-within {
  outline: 2px solid #AF4FFF;
}

.socials-button {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  opacity: 0.3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.socials-button::after {
  display: none;
}

.socials-button:hover {
  background: #FFC700;
  opacity: 100%;
}

.socials-button:focus {
  outline: 0px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 62px;
}

.footer-navigation-item {
  margin-right: 30px;
}

.footer-navigation-item:last-child {
  margin-right: 0px;
}

.footer-navigation-link:active {
  opacity: 30%;
}

.footer-navigation-link:hover {
  color: #FFC700;
  text-decoration: underline;
}

.footer-navigation-link:focus {
  outline: 2px solid #AF4FFF;
}

.footer-contacts-address {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.main-footer-logo {
  display: block;
  margin-bottom: 35px;
}

.main-footer-logo:active {
  opacity: 30%;
}

.main-footer-logo:hover {
  opacity: 60%;
}

.main-footer-logo:focus {
  outline: 2px solid #AF4FFF;
}

.footer-contacts-phone {
  display: block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: underline;
  margin-bottom: 63px;
}

.footer-contacts-phone:active {
  opacity: 30%;
}

.footer-contacts-phone:hover {
  color: #FFC700;
}

.footer-contacts-phone:focus {
  outline: 2px solid #AF4FFF;
}

.footer-column-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-logo {
  fill: #FFC700;
}

.footer-logo:active {
  fill: #FFFFFF;
  opacity: 30%;
}

.footer-logo:hover {
  fill: #FFFFFF;
}

.footer-logo-link:focus {
  outline: 2px solid #AF4FFF;
}

.footer-navigation-link {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}